$def with (variable_exp, fixed_exp, var_chart_list, fix_chart_list)

$var scripts: chartjs/Chart.js
$var title: "Budget Basics"

<script type="text/javascript">
    var data = {
        labels : [
                $for item in var_chart_list:
                    $item.day,
            ],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220, 220, 220, 1)",
                pointColor : "rgba(220, 220, 220, 1)",
                pointStrokeColor : "#fff",
                // variable expenses
                data : [
                $for exp in var_chart_list:
                    $exp.amount,
                ]
            },
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205, 1)",
                pointColor : "rgba(151,187,205, 1)",
                pointStrokeColor : "#fff",
                // fixed expenses
                data : [
                $for exp in fix_chart_list:
                    $exp.amount,
                ]

            }

        ]
    }
</script>
<h1>Budget Basics</h1>
<div class="graph">
<!-- put a graph here -->
<canvas id="main_chart" width="600" height="400" ></canvas>
</div>
<div class="column_1">
    <h2>Variable Expense</h2>
    $for exp in variable_exp:
        <p>$exp.name</p><p>$exp.amount</p>
</div>
<div class="column_2">
    <h2>Fixed Expense</h2>
    $for exp in fixed_exp:
        <p>$exp.name</p><p>$exp.amount</p>
</div>
<script type="text/javascript">
    var ctx = document.getElementById("main_chart").getContext("2d");
    var expense_chart = new Chart(ctx).Line(data);
</script>
